body{
    margin: 0 auto;
    font-family: 'rubik';
    font-size: 18px;
}
*{
    box-sizing: border-box;
}
/* ==========
TYPOGRAPHY
=========== */
.title{
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 1.5em 0em 1em;
    font-size: 1.75rem;
}
.input-bar,
.input-bar-btn{
    padding: .75em;
    border: none;
    font-size: .9rem;
    cursor: pointer;
}
.input-bar:focus,
.input-bar-btn:focus{
 outline: none;
}
.input-bar{
    padding-left: 1em;
    border-radius: 1em  0 0 1em;
    width: 75%;
    max-width: 95%;
}
.input-bar-btn{
    border-radius: 0 1em 1em 0;
    background: black;
    color: whitesmoke;
    font-weight: 700;
    padding-left:1em;
    padding-right: 1em;
}
.ip-address-label,
.location-label,
.timezone-label,
.isp-label{
    padding-top: 1em;
    text-transform: uppercase;
    color: rgb(187, 187, 187);
    letter-spacing: 1.5px;
    font-weight: 600;
    font-size: .7rem;
    text-align: center;
}

p{
    margin: 0;
}
h3{
    text-align: center;
    margin: 0;
    padding: 1em .5em;
    color:  rgb(59, 59, 59);
    font-size: 1.25rem;
}


/* ==========
LAYOUT
=========== */


.header{
    background-image: url("images/pattern-bg.png");
    background-color: lightskyblue;
    padding: 2em;
    padding-bottom: 6em;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.ip-info-result{
    width: 75%;
    max-width: 90%;
    background: white;
    margin: -3.5em auto auto;
    border-radius: 1.25em;
    padding: 1em .5em 1em;
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
    box-shadow: 2px 20px 25px rgb(0,0,0,.1);
}

#map{
    position: relative;
    z-index: 0;
    height: 100vh;

}

@media(min-width: 1000px){
    .input-bar{
        width: 40%;
    }
    .ip-info-result{
        display: flex;
        justify-content: space-evenly;
    }
    .ip-address-info,
    .location-info,
    .timezone-info,
    .isp-info{
        width: 25%;
        text-align: center;
        margin: 0;
        padding-left: 2em;
        padding-right: 2em;
        border-left: solid 1px rgb(187, 187, 187);
    }
    .ip-address-info{
        border-left: none;
    }
    .ip-address-info{
        padding-left: 0em;
        padding-right: 0em ;
    }
    #map{
        height: 80vh;
    }
}
